[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: #2984FE;
  --pico-primary: #2984FE;
  --pico-primary-background: #2984FE;
  --pico-primary-underline: rgba(189, 60, 19, 0.5);
  --pico-primary-hover: #942d0d;
  --pico-primary-hover-background: #bd3c13;
  --pico-primary-focus: rgba(244, 93, 44, 0.25);
  --pico-primary-inverse: #fff;
}
